<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<%- parts.header %>
		<link href="http://3rin.gs/tengwar/packages/tengwar@0a896ef/tengwar-parmaite.css" rel="stylesheet" type="text/css">
		<title>Barnack's</title>
	</head>

	<body>
		<%- parts.navbar %>
		<div class = "central_body">
			<div class = "box">
				<h3>Namárië</h3>
				<div class = "text font_quenya">
					<p>
						hE Á jyE7`BË j1Ep6E jiE'`B 8`M`M75%5$ = <br/>
						h`V`V5`B `M`M5`N`N1É`Bp rÈ 7`C`Ct6E m#7E5^ Á <br/>
						h`V`V5`B rÈ j1TpÉ hm&6E r#`C`C5`B6R <br/>
						t`B 7Yt^uE`B jiT'Â$t7Tr&`N`N7r$`C <br/>
						2ÈP qj$¸`C = ruE`N 1j$¸t&6E <br/>
						5`M jhU5`B hiE'5$ 11Tpj%6E `B j$5$`B <br/>
						`N`Nt7E`Û`N hE71R`C`C7Â%j`B`B75%5$ - <br/>
						<br/>
						8`B`B t5# `B hj&t`C 55% 5$zé1Epr&`C À <br/>
						<br/>
						5# 8`B`B 11Tpj#¸L ruE`C hYj^iY'`V`N <br/>
						rÈ e5#`Û`C6 t`C`C7`Û`C1 j$1Rp`C`C7`B 6Y15#È = <br/>
						6E j%`Û`V 1`B6R 2&Pj&`C`CrÈ jw&Pj&L Â <br/>
						6E 82%P5#`N`N7`Bj$¸`N zhE1`C t6Y5`BË <br/>
						`B ej#tj#5%"6E w%PÈ t1R = 6E 9`B`B8`BË <br/>
						1Up`M`Mq`C zj#iE7T`Û`N t`B`B7`B hYj#L - <br/>
						8`B`B r5#y`C 5`C`C = 7`N`Ntj$¸`N r5#y`C = rj#6TpE Á <br/>
						<br/>
						5t#`C`C7`BË Á 5hE 97Tr&j#`Û`V rj#6TpE - <br/>
						5hE j$`Û`V 97Tr&`C - 5t#`C`C7`BË Á
					</p>
				</div>
				<div class = "text">
					<p>
						Ai! laurië lantar lassi súrinen,<br/>
						yéni únótimë ve rámar aldaron!<br/>
						Yéni ve lintë yuldar avánier<br/>
						mi oromardi lisse-miruvóreva<br/>
						Andúnë pella, Vardo tellumar<br/>
						nu luini yassen tintilar i eleni<br/>
						ómaryo airetári-lírinen.<br/>
						<br/>
						Sí man i yulma nin enquantuva?<br/>
						<br/>
						An sí Tintallë Varda Oiolossëo<br/>
						ve fanyar máryat Elentári ortanë,<br/>
						ar ilyë tier undulávë lumbulë;<br/>
						ar sindanóriello caita mornië<br/>
						i falmalinnar imbë met, ar hísië<br/>
						untúpa Calaciryo míri oialë.<br/>
						Sí vanwa ná, Rómello vanwa, Valimar!<br/>
						<br/>
						Namárië! Nai hiruvalyë Valimar.<br/>
						Nai elyë hiruva. Namárië! 
					</p>
				</div>
			</div>
			<div class = "box">
				<h3>Katyusha</h3>
				<div class = "text">
					<p>
						Расцветали яблони и груши, <br/>
						Поплыли туманы над рекой. <br/>
						Выходила на берег Катюша,<br/>
						На высокий берег на крутой. <br/>
						<br/>
						Выходила, песню заводила <br/>
						Про степного, сизого орла, <br/>
						Про того, которого любила, <br/>
						Про того, чьи письма берегла. <br/>
						<br/>
						Ой ты, песня, песенка девичья, <br/>
						Ты лети за ясным солнцем вслед. <br/>
						И бойцу на дальнем пограничье <br/>
						От Катюши передай привет. <br/>
						<br/>
						Пусть он вспомнит девушку простую, <br/>
						Пусть услышит, как она поет, <br/>
						Пусть он землю бережет родную, <br/>
						А любовь Катюша сбережет. 
					</p>
				</div>
				<div class = "text">
					<p>
						Rastsvetali iabloni i grushi, <br/>
						Poplyli tumany nad rekoj.  <br/>
						Vykhodila na bereg Katyusha, <br/>
						Na vysokij bereg na krutoj. <br/>
						<br/>
						Vykhodila, pesniu zavodila  <br/>
						Pro stepnogo, sizogo orla,  <br/>
						Pro togo, kotorogo liubila,  <br/>
						Pro togo, chi pisma beregla.  <br/>
						<br/>
						Oj ty, pesnia, pesenka devichia,  <br/>
						Ty leti za iasnym solntsem vsled. <br/>
						I bojtsu na dalnem pograniche  <br/>
						Ot Katyushi peredaj privet. <br/>
						<br/>
						Pust on vspomnit devushku prostuiu,  <br/>
						Pust uslyshit, kak ona poet, <br/>
						Pust on zemliu berezhet rodnuiu, <br/>
						A liubov Katyusha sberezhet. 
					</p>
				</div>
			</div>
			
			<div class = "box text">
				<h3>Iliad</h3>
				<p>
					Μῆνιν ἄειδε θεὰ Πηληϊάδεω Ἀχιλῆος<br/>
					οὐλομένην, ἣ μυρί᾿ Ἀχαιοῖς ἄλγε᾿ ἔθηκε,<br/>
					πολλὰς δ᾿ ἰφθίμους ψυχὰς Ἄϊδι προΐαψεν<br/>
					ἡρώων, αὐτοὺς δὲ ἑλώρια τεῦχε κύνεσσιν<br/>
					οἰωνοῖσί τε πᾶσι· Διὸς δ᾿ ἐτελείετο βουλή,<br/>
					ἐξ οὗ δὴ τὰ πρῶτα διαστήτην ἐρίσαντε<br/>
					Ἀτρεΐδης τε ἄναξ ἀνδρῶν καὶ δῖος Ἀχιλλεύς.<br/>
					Τίς τ᾿ ἄρ σφωε θεῶν ἔριδι ξυνέηκε μάχεσθαι;<br/>
					Λητοῦς καὶ Διὸς υἱός· ὃ γὰρ βασιλῆϊ χολωθεὶς<br/>
					νοῦσον ἀνὰ στρατὸν ὄρσε κακήν, ὀλέκοντο δὲ λαοί,<br/>
					οὕνεκα τὸν Χρύσην ἠτίμασεν ἀρητῆρα<br/>
					Ἀτρεΐδης· ὃ γὰρ ἦλθε θοὰς ἐπὶ νῆας Ἀχαιῶν<br/>
					λυσόμενός τε θύγατρα φέρων τ᾿ ἀπερείσι᾿ ἄποινα,<br/>
					στέμματ᾿ ἔχων ἐν χερσὶν ἑκηβόλου Ἀπόλλωνος<br/>
					χρυσέῳ ἀνὰ σκήπτρῳ, καὶ λίσσετο πάντας Ἀχαιούς,<br/>
					Ἀτρεΐδα δὲ μάλιστα δύω, κοσμήτορε λαῶν·<br/>
					«Ἀτρεΐδαι τε καὶ ἄλλοι ἐϋκνήμιδες Ἀχαιοί,<br/>
					ὑμῖν μὲν θεοὶ δοῖεν Ὀλύμπια δώματ᾿ ἔχοντες<br/>
					ἐκπέρσαι Πριάμοιο πόλιν, εὖ δ᾿ οἴκαδ᾿ ἱκέσθαι·<br/>
					παῖδα δ᾿ ἐμοὶ λύσαιτε φίλην, τὰ δ᾿ ἄποινα δέχεσθαι,<br/>
					ἁζόμενοι Διὸς υἱὸν ἑκηβόλον Ἀπόλλωνα.»
				</p>
			</div>
			<div class = "box text">
				<p>
					Tityre, tu patulae recubans sub tegmine fagi<br/>
					silvestrem tenui Musam meditaris avena;<br/>
					nos patriae fines et dulcia linquimus arva.<br/>
					nos patriam fugimus; tu, Tityre, lentus in umbra<br/>
					formosam resonare doces Amaryllida silvas.
				</p>
			</div>
		</div>
	</body>
</html>