<div class="footer">
	Total visits: <%- visitors %>
	<!--div>
	<i class="fa fa-windows"/>
	<i class="fa fa-linux"/>
	<i class="fa fa-apple"/>
	</div>
	<div>
	<i class="fa fa-edge"/>
	<i class="fa fa-internet-explorer"/>
	</div>
	<div>
	<i class="fa fa-chrome"/>
	<i class="fa fa-firefox"/>
	<i class="fa fa-opera"/>
	<i class="fa fa-safari"/>
	</div-->
</div>