<ul class = "navbar navbar_ul">
	
	<li class="navbar_li">
		<a class="navbar_button" href="/"> <i class="fa fa-home"></i> Home </a>
	</li>
	
	<li class="navbar_li">
		<div class="dropdown">
			<a class="navbar_dropdown_button" href="/game_maker/"> Game Maker </a>
			<div class="dropdown-content">
				<a class=""> Games </a>
				<a class=""> Software </a>
				<a class=""> Libraries </a>
			</div>
		</div>
	</li>
	
	<li class="navbar_li">
		<div class="dropdown">
			<a class="navbar_dropdown_button" href="/cpp/"> C++ </a>
			<div class="dropdown-content">
				<a class=""> Games </a>
				<a class=""> Software </a>
				<a class=""> Libraries </a>
			</div>
		</div>
	</li>
	
	<li class="navbar_li">
		<a class="navbar_button" href="/about_me/"> About me </a>
	</li>
	
</ul>