<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<%- parts.header %>
		<link href="http://3rin.gs/tengwar/packages/tengwar@0a896ef/tengwar-parmaite.css" rel="stylesheet" type="text/css">
		<title>Barnack's</title>
	</head>

	<body>
		<%- parts.navbar %>
		<div class = "central_body">
			<h1>ERROR 404:</h1>
			<div class = "box text">
				<p>
					Page not found!
				</p>
			</div>
		</div>
		<%- parts.footer %>
	</body>
</html>