<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<%- parts.header %>
		<title>Barnack's</title>
		
		
		<script>  
		function hide_sublist(obj, parent) 
			{
			//debugger
			var x = document.getElementById(obj);
			if (x.style.display === 'none') 
				{
				x.style.display = 'block';
				parent.classList.add('arrow-down')
				}
			else 
				{
					x.style.display = 'none';
					parent.classList.remove('arrow-down')
				}
			}
		</script>
	</head>
	<body>
		<%- parts.navbar %>
		<div class = "central_body">
			<div class="box">
				
			</div>
			<h2> Content </h2>
			
			<div class="box">
				<ul>
					<li onclick="hide_sublist('sublist_games')"><a> Games </a></li>
					<ul id="sublist_games">
						<li><a style="text-decoration: line-through">A lot of unfinished projects like most peolpe that uses GameMaker</a> </li>
					</ul>
					
					<li onclick="hide_sublist('sublist_software')"><a> Software </a></li>
					<ul id="sublist_software">
						<li><a style="text-decoration: line-through"> Windows SideBar </a><i style="color: var(--c_mid)" class="fa fa-windows"></i> (new version <a href="/cpp/software/sidebar">here</a>) </li>
						<li><a href="/game_maker/software/graph_maker"> Graph Maker </a><i style="color: var(--c_ok)" class="fa fa-windows"></i></li>
					</ul>
					
					<li onclick="hide_sublist('sublist_libraries')"><a> Libraries </a></li>
					<ul id="sublist_libraries">
						<li><a style="text-decoration: line-through"> Coding tools &amp scripts </a></li>
						<li><a style="text-decoration: line-through"> Barnack GUI </a> (will eventually go back to this in future) </li>
					</ul>
				</ul>
			</div>
		</div>
		<%- parts.footer %>
	</body>
</html>