<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<%- parts.header %>
		<title>Barnack's</title>
	</head>
	<body>
		<%- parts.navbar %>
		<div class = "central_body">
			<h1> Windows SideBar <i style="color: var(--c_ok)" class="fa fa-windows"></i> </h1>
			<h2> Content and Features </h2>
			
			<div class="box" style="display: inline-block; max-width: calc(100% - (126px + 64px))">
				<p>
				GraphMaker is a program which lets you build simple graphs, (oriented, non-oriented or 
				mixed) with ease. (here a video showing BFS after 22/02/2017 update)
				</p>			
			</div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/tkshmyjqwR4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			
			<h2> A few notes </h2>
			<div class="box">
			All of program functionalities are 100% completed, but as you may notice, top-bar and left-bar 
			excluded, the user interface is not much “cured” and only features default look. Since the GUI 
			library is going to get substantial modifications during my future revision, GraphMaker’s 
			aesthetics will remain in stand-by till the new (hopefully good enough to be published) version 
			of the gui will be released. Then the very first thing i will do is updating GraphMaker using 
			that version, which grants improved performances to the software itself, and i will give it some 
			more cured aesthetics as well.</br>
			Please if you can test the program and let me know of any bug, especially during the visits simulations (providing .grph file of the graph giving error messages if you can)
			</div>
			<hr/>
			<h2> Table of contents </h2>
			<div class="box">
				<ul>
					<li>Add as many nodes and arcs between nodes as you wish. Multiple arcs between the same two nodes are supported.</li>
					<li>Move selected items around with grid snapping.</li>
					<li>Customize grid snap size for both axis (x and y) with the value you prefer.</li>
					<li>Swap directions of oriented arcs</li>
					<li>Highlight all arcs and nodes which can be reached from a certain node</li>
					<li>Save/open graphs</li>
					<li>Export graphs as .txt files in various formats:</span>
				<ul>
					<li>Adjacency vector</li>
					<li>Adjacency matrix</li>
					<li>Arcs list</li>
				</ul>
				</li>
					<li>Execute an animated visit simulation with custom time delays</span>
				<ul>
					<li>DFS</li>
					<li>BFS</li>
				</ul>
				</li>
					<li>Customize colors for nodes, arcs, visited items, selected items, background, and grid.</li>
					<li>Add/show/hide up to three custom variables to your nodes and/or your arcs. </li>
					<li>Change custom variable's value dynamically when executing a simulated visit, like set/increase/decrease a certain variable by a certain value.</li>
					<li><div style="text-decoration: line-through">Add conditions to custom variables changing during simulated visits.</div> (suspended, partially available)</li>
				</ul>
			</div>
			
			
			<h2> Software Download </h2>
			<div class="box">
				Click <a href="/graphmaker (beta).zip">here</a> to download.
			</div>
		</div>
		<%- parts.footer %>
	</body>
</html>